#headerSection {
	margin: -20px 0 0 0;
	color: #FAFAFA;
	padding: 10px 10px;
	box-shadow: 0 0 7px #000;
  background: gray;
} 

#headerSection a {
  color: white !important;
  text-decoration: underline;
}

#plotButton, #appResetId-resetButton {
  background-color: #008d4c;
  border-color: #008d4c;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
  background: #008d4c;
}

.box.box-info, .box.box-primary  {
  border-top-color: #008d4c;
}
